@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/* Colors in Hexas and font name

grijs #899CA0
donkergroen #1C2B32

font Poppins

*/
/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/
.dev {
    border-style: groove;
    border-color: red;
    border: 80px;
}

/*///////////// 3.1 Header /////////////*/
.header-style {
    height: 400px;
    background-image: url("/assets/images/mountains.jpg");
    background-position: center;
    background-size: cover;
}

.header-elements-style {
}

.h1-styling {
    font-weight: bolder;
    font-size: 80px;
}

.header-paragraph {
    margin: 20px;
}

.domain-input {
    border-radius: 25px 0 0 25px;
    border-right: 0;
    width: 250px;
    height: 50px;
    background-color: transparent;
    text-align: left;
    font-weight: bolder;
    padding: 0 20px;
}

.search-button {
    background-color: #1C2B32;
    border-radius: 0 25px 25px 0;
    border: 0;
    width: 250px;
    height: 50px;
    color: white;
    margin-left: -3px;
}

/*///////////// 3.2 Testimonial /////////////*/
.main-styling {
    margin-right: 25%;
    margin-left: 25%;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25%;
    margin-left: 25%;
    border-top: 50px;
    border-bottom: 50px;
}

.testimonials-section {
}

.testimonials {
    text-align: left;
    border-radius: 5px 5px 5px 5px;
    /*border-style: groove;*/
    box-shadow: 5px 5px 10px grey;
    margin: 50px;
    padding: 50px;
}

.quote-style {
    vertical-align: baseline;
    margin-right: 5px;
}

.icons-styling {
    vertical-align: middle;
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.quote-style {
    text-align: left;
}

.citation-style {
}

/*///////////// 3.3 Support /////////////*/
.call-center-section {
}

.call-center-banner {
    width: 100%;
    height: 200px;
    background-image: url("/assets/images/callcenter.jpg");
    background-position: center;
    background-size: cover;
}

.call-center-section > p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.call-center-button-style {
    float: left;
    background-color: #1C2B32;
    color: white;
    border: 0;
    border-radius: 25px;
    height: 45px;
    width: 150px;
    padding: 2%;
}

/*///////////// 3.4 Faq /////////////*/
.fqa-section {
}

.fqa-styling {
}

.fqa-styling > summary {
    font-weight: lighter;
    text-align: left;
    margin-bottom: 20px;
}

summary:hover {
    color: red;
}

details > p {
    text-align: left;
    margin-bottom: 10px;
}

/*///////////// 3.5 Footer /////////////*/
.copyright-paragraph {
    height: 40px;
    padding: 10px;
    background-color: #1C2B32; /*1C2B32*/
    color: white;
    font-size: 10px;
    text-align: center;
}