@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/* grijs #899CA0
donkergroen #1C2B32
font Poppins
*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');*/
/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 10px;
    text-align: center;
    box-sizing: border-box;
}


/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/

.dev {
    border-style: dotted;
    border-color: red;
    border: 80px;
}

/*///////////// 3.1 Header /////////////*/
.header-style {
    background-image: url("/assets/images/mountains.jpg");
    background-size: 100%;
    height: 500px;
}

.header-elements {
}

.main-heading {
    font-size: 100px;
}
p{
    font-weight: lighter;
}
.header-paragraph {
    font-size: 10px;
    /*font-weight: lighter;*/
    margin: 20px 20px 20px 20px;
}

.domain-input {
    text-align: left;
    background-color: transparent;
    border-radius: 25px 0 0 25px;
    width: 250px;
    height: 50px;
    padding: 0 20px;
    border-right: 0;
}

.search-button {
    background-color: #1C2B32;
    color: white;
    border-radius: 0 25px 25px 0;
    width: 250px;
    height: 50px;
    border: 0;
    margin-left: -3px;
}
.main-styling{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
/*///////////// 3.2 Testimonial /////////////*/
h2{
    font-size: 30px;
    margin-top: 50px;
}
.icons-styling{
    float: left;
    height: 50px;
    width: 50px;
}
.testimonials{
    height: 200px;
    width: 500px;
    text-align: center;
    padding: 20px;

}
blockquote , cite{
    text-align: left;
}
/*///////////// 3.3 Support /////////////*/


/*///////////// 3.4 Faq /////////////*/
.fqa-styling  > summary{
    text-align: left;
    /*font-weight: lighter;*/
}

/*///////////// 3.5 Footer /////////////*/
.copyright{
    height: 40px;
    padding: 10px;
    background-color: #1C2B32; /*1C2B32*/
    color: white;
    font-size: 10px;
    text-align: center;
}